{% extends 'BricoEchangeFrontBundle::general.html.twig' %}

{% block title %}
    {{ parent() }} - Ajout
{% endblock %}

{% block body %}
    <h2>Ajouter une annonce : </h2>
    <hr />
    <div style="margin: 15px 0">
    {{ form_start(form)}}
    {% form_theme form 'BricoEchangeFrontBundle:Annonce:form.html.twig'%}
    {{form(form)}}
    {{ form_end(form)}}
    </div>
    
{% endblock %}